.about .summary {
  width: 70%;
}

.about .personal-data {
  width: 30%;
}

.about .card {
  display: inline;
  font-weight: bold;
  font-size: 1.25em;
  padding: 10px 20px;
  margin: 10px;
  background: #333;
  border: 2px solid #444;
  border-radius: 10px;
  text-align: center;
  float: left;
}

.about .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 17px rgb(0 0 0 / 12%);
}

.light .about .card {
  background: transparent;
  border-color: #e5e5e5;
  color: #222222;
}

.certification {
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #444;
}

.light .certification {
  border-color: #e5e5e5;
}

.certification .icon {
  transform: translateY(25%);
}

.certification .icon {
  color: #04b4e0;
}

.light .certification .icon {
  color: #222222;
}