@media (max-width: 1099px) {
  .profile {
    display: none
  }
}

.profile {
  background: #444;
  padding: 70px 90px;
  text-align: center;
  flex: 0 0 auto;
}

.profile.large {
  flex: 1 0 auto;
}

.profile p {
  font-size: 1.5em;
}

.profile img {
  border-radius: 50%;
  border: 3px solid #fff;
}

.light .profile {
  background: #04b4e0;
  color: #fff;
}

.light .profile h1 {
  color: #fff;
}

.profile .third-party {
  padding: 40px 0 0 0;
}

.profile .third-party li {
  display: inline;
  margin: 10px;
}